
@{
    var PageTitle = "logout Page";
     WebSecurity.Logout();
     Response.Redirect("~/Default.cshtml");
    
   
    
   
 }
 
@section t1 {
    @PageTitle
}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        
    </head>
    <body>
       
    </body>
</html>
