@{
    var PageTitle = "Payment Info Page"; 
 }
 
@section t1 {
    @PageTitle
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
          <div  style="color:#ff00dc; margin-left:150px;margin-top: 20px; font-family: 'Times New Roman'; font-size: x-large">Oppssss!!!!! Contents  coming sooon.......</div>
    </body>
</html>
