@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
 <link href="~/Styles/footerstyle.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
       <div style="margin-top:180px"></div>
    <div id="templatemo_footer_wrapper">
	  <div id="templatemo_footer"> 
          <ul class="footer_menu">
            <li>Admin Footer Panel ....</li>
           
        </ul> 
    	    <div class="cleaner"></div>
        </div> <!-- end of footer -->
    </div> <!-- end of templatmeo_footer_wrapper --> 
    </body>
</html>
