@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link href="~/Styles/footerstyle.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div style="margin-top:1300px"></div>
    <div id="templatemo_footer_wrapper">
	  <div id="templatemo_footer"> 
          <ul class="footer_menu">
            <li><a href="~/pages/PoliciesPage.cshtml" class="current">Polices</a></li>
            <li><a href="~/pages/ContactPage.cshtml" target="_parent">Contact Us</a></li>
            <li><a href="~/pages/ShippingPage.cshtml">Shipping Rates</a></li>
            <li><a href="~/pages/Payment_infoPage.cshtml">Payment Information</a></li>
            <li><a href="~/pages/OrderPage.cshtml">How To Order</a></li>
            <li class="last_menu"><a href="~/pages/HelpPage.cshtml">Help</a></li>
        </ul> 
    Copyright &copy;  2012 <a href="http://www.tabs.com">tabs host</a> by TABS.COM
    	    <div class="cleaner"></div>
        </div> <!-- end of footer -->
    </div> <!-- end of templatmeo_footer_wrapper -->
   
    </body>
   
</html>
